  <div class=" module module_person ">
    <h5 class=" module_description">Tilbakemeldingsskjema til høringsutkast</h5>
    <a ng-if="retningslinje.guidelineId == '1039'" href="http://hoyringar.azurewebsites.net/skjema/Svarskjema_Hoyring  Retningslinje behandling og rehab - rus.doc">
    	<div class="name">Last ned tilbakemeldingsskjema (word)</div>
    </a> 
    <a ng-if="retningslinje.guidelineId == '8'" href="http://hoyringar.azurewebsites.net/skjema/Svarskjema_Intern_Hoering_Retningslinje_spedbarnsernaeringandling.doc">
    	<div class="name">Last ned tilbakemeldingsskjema (word)</div>
    </a>
  </div>
