					
					<div class="module module_related green">
						<h3>Relaterte anbefalinger</h3>
						<ul class="linklist">
							<li><a href="#">Sepsis</a></li>
							<li><a href="#">Antibiotika</a></li>
							<li><a href="#">Sepsis</a></li>
						</ul>
						<img class="pulse" src="img/modules/EKG-groenn.png" alt="">
					</div>
					<div class="module module_related blue">
						<h3>Relaterte retningslinjer</h3>
						<ul class="linklist">
							<li><a href="#">Antibiotika</a></li>
							<li><a href="#">Sepsis</a></li>
							<li><a href="#">Sepsis</a></li>
						</ul>
						<img class="pulse" src="img/modules/EKG-lyseblaa.png" alt="">
					</div>
