<?xml version="1.0" encoding="utf-8"?>
  <configuration>      
      <staticContent>
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
         <mimeMap fileExtension="woff" mimeType="application/font-woff" />
         
      </staticContent>
    </system.webServer>
  </configuration>