<!--<published-stage resource="Retningslinjen" publishedstage="retningslinje.publishedStage"></published-stage>-->
<article class="Guidelinefrontpage">
	<header id="pageheader" class="pageheader">
		<div class="headergroup">
			<div class="container">
				<h1 class="title">{{retningslinje.shortTitle}}</h1>
				<span class="subtitle">{{retningslinje.title}}</span>
				<ul class="hidden-xs metadata">
					<li><span class="number">76</span>Anbefalinger</li>
					<li><span class="number">{{retningslinje.updatedDate | date:'yyyy'}}</span>Sist oppdatert</li>
					<li><span class="number">{{retningslinje.isNumber}}</span>IS-nummer</li>
				</ul>
				<a href="" title="" class="aboutguidelineicon" about-guideline-expand><span class="text">Om retningslinjen</span></a>
			</div>
		</div>
		<div class="aboutexpand container">
			<div class="metadata">
				<span class="text">Opprettet {{retningslinje.createdDate | date:'dd.MM.yyyy'}}</span>
				<span class="text">Sist oppdatert {{retningslinje.updatedDate | date:'dd.MM.yyyy'}}</span>
			</div>
			<div class="text" ng-bind-html="retningslinje.text | unsafe">
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!--<form class="retningslinjerSok">
					<label for="searchinput">Søk etter anbefalinger i denne retningslinjen</label>
					<div id="search_input_retningslinjer">
						<input id="searchinput" class="search typeahead" type="text" placeholder="Luftveier, Øye, Mage.." />
					</div>
				</form>-->

				<h2 class="smalltitle small">Innhold i denne retningslinjen</h2>
				<ul class="sectionlist">

					<li class="element" ng-repeat="section in retningslinje.sections" ng-hide="section.isDeleted">
						<a ng-if="section.childSections.length > 0" href="#/{{retningslinje.guidelineId}}/childsectionIndex/{{section.sectionId}}">
							<h3 class="sectionheading">{{section.heading}}</h3>
							<div class="sectioninformation hidden-xs">
								<!--Show image if we are redirecting to next transport page with childsections-->
								<img class="haschildsections" src="img/modules/icons/ico-mer.png" alt="" />
							</div>
						</a>
						<a ng-if="section.childSections.length == 0" href="#/{{retningslinje.guidelineId}}/section/{{section.sectionId}}">
							<h3 class="sectionheading">{{section.heading}}</h3>
							<div class="sectioninformation hidden-xs">
								<!--Show number of recommendations if section has no childsections-->
								<div class="numberofrecommendations" ng-if="section.recommendations.length > 0">
									<span class="number">{{section.recommendations.length}}</span>
                  <span ng-if="section.recommendations.length > 1">Anbefalinger</span>
                  <span ng-if="section.recommendations.length <= 1">Anbefaling</span>
								</div>
							</div>
						</a>
					</li>

				</ul>
				<div class="module module_social">
					<a href="#/{{retningslinje.guidelineId}}/print" class=" ikon_skrivut"><span></span>utskriftsvennlig versjon</a>
					<a href="#" class="ikon_disclaimer"><span></span>disclaimer</a>
					<!--<a href="#" class="ikon_metode"><span></span>metode</a>-->
				</div>
				<aside class=" aside guidelines col-8">
					<div class=" module module_person ">
						<h5 class=" module_description">Tilbakemeldingsskjema til høringsutkast</h5>
						<a ng-if="retningslinje.guidelineId == '1039'" href="http://hoyringar.azurewebsites.net/skjema/Svarskjema_Hoyring  Retningslinje behandling og rehab - rus.doc">
							<div class="name">Last ned tilbakemeldingsskjema (word)</div>
						</a>
					</div>
					<div class=" module module_person ">
						<h5 class=" module_description">Ansvarlig for retningslinjen</h5>
						<a href="mailto:brittelise.bakstad@helsedir.no?subject=Høringsutkast: Nasjonal faglig retningslinje for behandling og rehabilitering av rusmiddelproblemer og avhengighet">
							<div class="name">Avdeling Psykisk helsevern og rus</div>
						</a>
						<div class="person_information">
							<p class="phone">e-post: <a href="mailto:brittelise.bakstad@helsedir.no?subject=Høringsutkast: Nasjonal faglig retningslinje for behandling og rehabilitering av rusmiddelproblemer og avhengighet">brittelise.bakstad@helsedir.no</a></p>
						</div>
					</div>
					<div class=" module module_person ">
						<h5 class=" module_description">Tekniske feil</h5>
						<a href="mailto:Tor.Anders.Dybing@helsedir.no?subject=Teknisk feil: Nasjonal faglig retningslinje for behandling og rehabilitering av rusmiddelproblemer og avhengighet">
							<div class="name">Vises ikke innholdet i retningslinjen?</div>
						</a>
						<div class="person_information">
							<p class="phone">e-post: <a href="mailto:Tor.Anders.Dybing@helsedir.no?subject=Teknisk feil: Nasjonal faglig retningslinje for behandling og rehabilitering av rusmiddelproblemer og avhengighet">tor.anders.dybing@helsedir.no</a></p>
						</div>
					</div>
<!--
					<div class="module module_related green">
						<h3>Relaterte anbefalinger</h3>
						<ul class="linklist">
							<li><a href="#">Sepsis</a></li>
							<li><a href="#">Antibiotika</a></li>
							<li><a href="#">Sepsis</a></li>
						</ul>
						<img class="pulse" src="img/modules/EKG-groenn.png" alt="">
					</div>
					<div class="module module_related blue">
						<h3>Relaterte retningslinjer</h3>
						<ul class="linklist">
							<li><a href="#">Antibiotika</a></li>
							<li><a href="#">Sepsis</a></li>
							<li><a href="#">Sepsis</a></li>
						</ul>
						<img class="pulse" src="img/modules/EKG-lyseblaa.png" alt="">
					</div>-->
				</aside>
				</div> <!-- cols -->
				</div><!-- row -->
			</div>
			</article> <!-- end container -->
<script>
  window.setTimeout(function(){
    responsiveTables();
  }, 1000);
</script>
