$fontCalibri: "Calibri";
$fontCalibriBold: "Calibri-Bold";
$fontSoho: "soho gothic pro medium";
$fontSohoLight: "Soho Gothic W01 Light";
$fontSohoRegular: "Soho Gothic W01 Regular";
$fontAwesome: "fontAwesome";

$fontIconChevronDown: "\f107";
$fontIconChevronUp: "\f106";
$fontIconChevronRight: "\f105";
$fontIconChevronLeft: "\f104";
$fontIconClose: "\f00d";