<published-stage resource="Retningslinjen" publishedstage="retningslinje.publishedStage"></published-stage>
<article class="Guidelinefrontpage">
	<header id="pageheader" class="pageheader">
		<div class="headergroup">
			<div class="container">
				<nav>
					<ol class="container breadcrumbs clearfix">
						<li><a href="#">Forside</a></li>
						<li><a href="#">Nasjonale faglige retningslinjer</a></li>
						<li><a href="#" class="active">{{retningslinje.shortTitle}}</a></li>
					</ol>
				</nav>

				<h1 class="title">{{retningslinje.shortTitle}}</h1>
				<span class="subtitle">{{retningslinje.title}}</span>
				<ul class="hidden-xs metadata">
					<li><span class="number">40</span>Anbefalinger</li>
					<li><span class="number">{{retningslinje.updatedDate | date:'yyyy'}}</span>Sist oppdatert</li>
					<li><span class="number">2214</span>IS-nummer</li>
				</ul>
				<a href="" title="" class="aboutguidelineicon" about-guideline-expand><span class="text">Om retningslinjen</span></a>
			</div>
		</div>
		<div class="aboutexpand container">
			<div class="metadata">
				<span class="text">Opprettet {{retningslinje.createdDate | date:'dd.MM.yyyy'}}</span>
				<span class="text">Sist oppdatert {{retningslinje.updatedDate | date:'dd.MM.yyyy'}}</span>
			</div>
			<div class="text" ng-bind-html="retningslinje.text | unsafe">
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<form class="retningslinjerSok">
					<label for="searchinput">Søk etter anbefalinger i denne retningslinjen</label>
					<div id="search_input_retningslinjer">
						<input id="searchinput" class="search typeahead" type="text" placeholder="Luftveier, Øye, Mage.." />
					</div>
				</form>

				<h2 class="smalltitle small">Innhold i denne retningslinjen</h2>
				<ul class="sectionlist">

					<li class="element" ng-repeat="section in retningslinje.sections" ng-hide="section.isDeleted">
						<a ng-if="section.childSections.length > 0" href="#/{{retningslinje.guidelineId}}/childsectionIndex/{{section.sectionId}}">
							<h3 class="sectionheading">{{section.heading}}</h3>
							<div class="sectioninformation hidden-xs">
								<!--Show image if we are redirecting to next transport page with childsections-->
								<img class="haschildsections" src="img/modules/icons/ico-mer.png" alt="" />
							</div>
						</a>
						<a ng-if="section.childSections.length == 0" href="#/{{retningslinje.guidelineId}}/section/{{section.sectionId}}">
							<h3 class="sectionheading">{{section.heading}}</h3>
							<div class="sectioninformation hidden-xs">
								<!--Show number of recommendations if section has no childsections-->
								<div class="numberofrecommendations" ng-if="section.recommendations.length > 0">
									<span class="number">{{section.recommendations.length}}</span>
                  <span ng-if="section.recommendations.length > 1">Anbefalinger</span>
                  <span ng-if="section.recommendations.length <= 1">Anbefaling</span>
								</div>
							</div>
						</a>
					</li>

				</ul>
				<div class="module module_social">
					<a href="#/{{retningslinje.guidelineId}}/print" class=" ikon_skrivut"><span></span>utskriftsvennlig versjon</a>
					<a href="#" class="ikon_disclaimer"><span></span>disclaimer</a>
					<a href="#" class="ikon_metode"><span></span>metode</a>
				</div>
				<aside class=" aside guidelines col-8">
					<div class=" module module_person ">
						<h5 class=" module_description">Ansvarlig for retningslinjen</h5>
						<a href="mailto:Anne.May.Knudsen@helsedir.no">
							<div class="name">Avd XX</div>
						</a>
						<div class="person_information">
							<p class="phone">E-post: avdxx@helsedir.no</p>
						</div>
					</div>
					<div class="module module_related green">
						<h3>Relaterte anbefalinger</h3>
						<ul class="linklist">
							<li><a href="#">Sepsis</a></li>
							<li><a href="#">Antibiotika</a></li>
							<li><a href="#">Sepsis</a></li>
						</ul>
						<img class="pulse" src="img/modules/EKG-groenn.png" alt="">
					</div>
					<div class="module module_related blue">
						<h3>Relaterte retningslinjer</h3>
						<ul class="linklist">
							<li><a href="#">Antibiotika</a></li>
							<li><a href="#">Sepsis</a></li>
							<li><a href="#">Sepsis</a></li>
						</ul>
						<img class="pulse" src="img/modules/EKG-lyseblaa.png" alt="">
					</div>
				</aside>
				</div> <!-- cols -->
				</div><!-- row -->
			</div>
			</article> <!-- end container -->
			<script>
			//We need to wait until Angular is finished with the DOM
			//window.setTimeout(function(){
			//runJqueryUIStuff();
			//}, 500);
			</script>
